# data folders
data/prescored/GRCh38_v1.6/incl_anno/*
data/prescored/GRCh37_v1.6/incl_anno/*
data/prescored/GRCh38_v1.6/no_anno/*
data/prescored/GRCh37_v1.6/no_anno/*
data/annotations/*
input/*
output/*

# compiled files
*.pyc

# process files
*.log

# snakemake
.snakemake*
envs/*

# data files
*.gz
*.vcf
*.tsv
*.zip
*.tbi

# temp files
.*
